body{
    background-image: url("images/sparks-of-firecracker-167080.jpg");
    background-size: auto;
    background-size: 100%;
    color:white;
}
/* .item{
    background-color: black;
    size: 200px 200px;
} */
.carousel-inner > .item > img {
    width: 400px;
    height:300px;
    /* size: 100%; */
    /* border: 10px; */
    text-align: center;
  }
#mycarosel{
  /* opacity: initial;  */
}
.container{
    /* background-image: url("images/sparks-of-firecracker-167080.jpg"); */
    
   background-size: auto;
    padding-top: 15px;
    
    

}
.menu{
    background-color:black;
    padding:10px;
    margin-bottom: 10px;
    position:fixed;
    width: 100%;    
}
#logo{
    height: 70px;
    width: 90px;
}