body{
    background-image: url("images/sparks-of-firecracker-167080.jpg");
    background-size: auto;
    background-color: black;
    background-size: 100%;
    /* font-size: 18pt; */
    color:white;
}
h1{
    /* font-size: 25px; */
    font-stretch: expanded;
}
/* .item{
    background-color: black;
    size: 200px 200px;
} */
.carousel-inner > .item > img {
    width: 400px;
    height:300px;
    /* size: 100%; */
    /* border: 10px; */
    text-align: right;
  }
.container{
    /* background-image: url("images/sparks-of-firecracker-167080.jpg"); */
    
   background-size: auto;
    padding-top: 15px;
    background-blend-mode: hard-light;
    
    }
.menu{
    background-color:black;
    padding:10px;
    margin-bottom: 10px;
    /* position:fixed; */
    width: 100%;    
}
#logo{
    height: 75px;
    width: 100px;
}
#logoTitle{
    height: 50%;
    width: 60%;
    text-align: right;


}